%h1 Tea List
%table{:border => 1}
  %tbody
    %tr
      %td Name
      %td Stock
      %td Price
      %td Origin
      %td Size
      %td Cart
  - @teas.each do |tea|
    %tr
      %td= link_to "#{tea.name}", my_tea_path(tea.id)
      %td= tea.stock
      %td= "#{tea.price.round(2)} TL"
      %td= tea.origin
      %td= tea.size.capitalize
      %td
        =link_to "Add To Cart!", add_to_cart_path(tea.id), method: :post
= link_to "My Cart", my_cart_path(1)
