%h1 Tea List
%table
  %tbody
    %tr
      %td Name
      %td Stock
      %td Price
      %td Origin
      %td Size
      %td Cart
  - @teas.each do |tea|
    %tr
      %td= tea.name
      %td= tea.stock
      %td= "#{tea.price} TL"
      %td= tea.origin
      %td= tea.size.capitalize
      %td
        %a{ :href => "/add_to_cart/#{tea.id}", :title => "Add To Cart!" } Add To Cart!
