%h1= @tea.name
%p
  %b Stock:
  = @tea.stock
%p
  %b Price:
  = @tea.price
%p
  %b Origin:
  = @tea.origin
%p
  %b Ingredients:
  = @tea.ingredients
%p
  %b Usage
  = @tea.usage
%p
  %b Size
  = @tea.size

= link_to "Back", root_path
