%h1 My Cart
%p= "Address: #{@cart.address}"
%p= "Gift Box: #{@cart.gift_box}"
%table{:border => 1}
  %tbody
    %tr
      %td Name
      %td Stock
      %td Price
      %td Origin
      %td Size
  - @cart.teas.each do |tea|
    %tr
      %td= link_to "#{tea.name}", my_tea_path(tea.id)
      %td= tea.stock
      %td= "#{tea.price} TL"
      %td= tea.origin
      %td= tea.size.capitalize
%p= "Total Cost: #{@total_cost.round(2)}"
